{% extends 'yardapp/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">{{ user.first_name }}'s Profile</h2>

    <!-- User Info Card -->
    <div class="card mt-3 shadow-sm">
        <div class="card-body">
            <div class="d-flex align-items-center">
                
                <div>
                    <h5 class="card-title fw-bold">Welcome, {{ user.first_name }} {{ user.last_name }}</h5>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Address:</strong> {{ user.userprofile.address }}</p>
                    <p><strong>City:</strong> {{ user.userprofile.city }}</p>
                    <p><strong>Province:</strong> {{ user.userprofile.province }}</p>
                    <p><strong>Phone:</strong> {{ user.userprofile.phone }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Section -->
    
</div>
{% endblock %}